<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header cus-bg">
    
      <div class="temp">
        <div ng-show='messages.length == 0 && fetching == false && error == null' class='card-panel'>
          <a class="item" href="#">
            <i class="icon ion-close-circled"></i>
            No events yet.
          </a>
        </div>

        <div ng-show='messages.length == 0 && fetching == true && error == null' class='card-panel'>
          <a class="item" href="#">
            <i class="icon ion-refresh"></i>
            Fetching list of events...
          </a>
        </div>

        <div ng-show='error != null' class='card-panel'>
          <a class="item" href="#">
            <i class="icon ion-alert-circled"></i>&nbsp;An error occurred
            <br /><span class='red'>{{error}}</span>
          </a>
        </div>

        <div class="card" ng-repeat='m in messages'>

            <div class="card-header">
               <img ng-src="{{m.picture || defaultPicture}}" class="circle" id="user-pic" />
               <span id="user-name">{{m.title}}</span>

                
                <div class="card-option-btn">
                </div>
            </div> 

              <div class="item item-text-wrap">
                <p id="card-msg" ng-class="{'card-msg-adj': m.showClass == true}">           
                    <span ng-bind-html="m.description | to_trusted"></span>
                    <br />
                    <strong>Venue:</strong>&nbsp;{{m.venue}}<br />
                    

                      <br /><small>
                        <i class="ion-clock"></i>&nbsp; 
                        <span am-time-ago="{{m.timestamped | timeInSeconds}}">
                          {{m.timestamped}}
                        </span>
                      </small>
                    
                </p>
            <!--
                  <div class="card-panel">
                  <a href="" class="card-control-btn">
                    Button
                  </a>
                  <a href="" class="card-control-btn">
                    Button
                  </a>
                  <a href="" class="card-control-btn">
                    Button
                  </a>
                  </div>
            -->
              </div>
          </div>
      </div>
      
      
  </ion-content>
</ion-view>
